In [1]:
import pandas as pd

In [8]:
renewal_list = pd.read_csv("https://data.chhs.ca.gov/dataset/6160a936-001a-4c45-a531-527e28096cee/resource/25736aa0-3f63-4d74-aaa6-5b432d53cbc0/download/med-abx11-5.1-renewal-april-2023-and-may-2023.csv")

In [9]:
renewal_list.head()

,Year,Renewal Due Month,Renewal Processing Timeframe,County,SAWS,Eligibility Financial Method,Renewals Due,Renewals Completed,Renewals Completed by Due Date,Continued Medi-Cal Eligibility,Auto Ex-Parte,Manual Ex-Parte,Discontinued - Failure to Respond,Discontinued - Over Income (MAGI) / Over property (Non-MAGI),Discontinued - Other Reasons,Reinstated,Annotation Code,Annotation Code Description
0,2018,2018-01,January 2018 - April 2018,Alameda,CalWIN,MAGI,"22,762","20,136","15,161","14,997","7,531",15,"4,067",466,489,"1,974",NaN,NaN
1,2018,2018-01,January 2018 - April 2018,Contra Costa,CalWIN,MAGI,"15,652","14,145","10,561","11,101","5,385",38,"2,154",163,696,990,NaN,NaN
2,2018,2018-01,January 2018 - April 2018,Fresno,CalWIN,MAGI,"34,273","34,085","31,269","29,265","11,450",128,902,364,"3,091","1,953",NaN,NaN
3,2018,2018-01,January 2018 - April 2018,Orange,CalWIN,MAGI,"58,023","54,665","41,598","44,368","20,237",116,"6,502",596,"2,987","4,307",NaN,NaN
4,2018,2018-01,January 2018 - April 2018,Placer,CalWIN,MAGI,"3,963","3,850","3,115","3,094","1,352",66,441,47,236,255,NaN,NaN

In [79]:
year_one = renewal_list[renewal_list['Year'] == 2018]

In [106]:
year_one.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1392 entries, 0 to 1391
Data columns (total 19 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Year                                                          1392 non-null   int64
 1   Renewal Due Month                                             1392 non-null   object
 2   Renewal Processing Timeframe                                  1392 non-null   object
 3   County                                                        1392 non-null   object
 4   SAWS                                                          1392 non-null   object
 5   Eligibility Financial Method                                  1392 non-null   object
 6   Renewals Due                                                  1380 non-null   object
 7   Renewals Completed                                            1381 non-null   object
 8   Renewals Completed by Due Date                                1383 non-null   object
 9   Continued Medi-Cal Eligibility                                1383 non-null   object
 10   Auto Ex-Parte                                                1388 non-null   object
 11   Manual Ex-Parte                                              1212 non-null   object
 12  Discontinued - Failure to Respond                             1198 non-null   object
 13  Discontinued - Over Income (MAGI) / Over property (Non-MAGI)  1266 non-null   object
 14  Discontinued - Other Reasons                                  1200 non-null   object
 15  Reinstated                                                    1135 non-null   object
 16  Annotation Code                                               685 non-null    float64
 17  Annotation Code Description                                   685 non-null    object
 18  discontinued_failure                                          1198 non-null   object
dtypes: float64(1), int64(1), object(17)
memory usage: 217.5+ KB

In [118]:
def convert_str_to_num(val):
    try:
        clean_str = val.replace(',','')
        return int(clean_str)
    except AttributeError:
        return 0

# Create a new column by selecting the original, and applying a custom function. 
# Note that the function above is operating on a discrete value for Discontinued Failure etc.
# for each row in the dataset
year_one['discontinued_failure'] = year_one['Discontinued - Failure to Respond'].apply(convert_str_to_num)

/tmp/ipykernel_7248/4113566945.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_one['discontinued_failure'] = year_one['Discontinued - Failure to Respond'].apply(convert_str_to_num)

In [119]:
year_one.discontinued_failure

0        4067
1        2154
2         902
3        6502
4         441
        ...
1387        0
1388       16
1389        5
1390    46426
1391     8172
Name: discontinued_failure, Length: 1392, dtype: int64

In [111]:
int(3.3)

3

In [94]:
year_one.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1392 entries, 0 to 1391
Data columns (total 18 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Year                                                          1392 non-null   int64
 1   Renewal Due Month                                             1392 non-null   object
 2   Renewal Processing Timeframe                                  1392 non-null   object
 3   County                                                        1392 non-null   object
 4   SAWS                                                          1392 non-null   object
 5   Eligibility Financial Method                                  1392 non-null   object
 6   Renewals Due                                                  1380 non-null   object
 7   Renewals Completed                                            1381 non-null   object
 8   Renewals Completed by Due Date                                1383 non-null   object
 9   Continued Medi-Cal Eligibility                                1383 non-null   object
 10   Auto Ex-Parte                                                1388 non-null   object
 11   Manual Ex-Parte                                              1212 non-null   object
 12  Discontinued - Failure to Respond                             1198 non-null   object
 13  Discontinued - Over Income (MAGI) / Over property (Non-MAGI)  1266 non-null   object
 14  Discontinued - Other Reasons                                  1200 non-null   object
 15  Reinstated                                                    1135 non-null   object
 16  Annotation Code                                               685 non-null    float64
 17  Annotation Code Description                                   685 non-null    object
dtypes: float64(1), int64(1), object(16)
memory usage: 206.6+ KB

In [93]:
disc = year_one["Discontinued - Failure to Respond"].astype(str)

In [91]:
disc

0        4,067
1        2,154
2          902
3        6,502
4          441
         ...
1387       nan
1388        16
1389         5
1390    46,426
1391     8,172
Name: Discontinued - Failure to Respond, Length: 1392, dtype: object